:root{
    --main-text-color: rgb(248, 249, 250);
    --man-ph-color: rgb(248, 247, 247);
}

*{
    font-family: Arial, Helvetica, sans-serif;      
    font-weight: bold;
    color: var(--main-text-color);
    margin:0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(./picture/clear-day.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    min-height: 100vw;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 300px;
    max-width: 550px;
    margin:30px;
}

/* üveghtaás efect*/
.glassStyle{
    background: rgba(108, 195, 245, 0.252);
    border-radius: 16px;
    box-shadow: 3px 3px 18px #4a4a4a70;
    backdrop-filter: blur(9.9px);
    -webkit-backdrop-filter: blur(9.9px);
    border: 0.3px solid rgba(255, 255, 255, 0.194);

}

.error{
    color: rgb(246, 85, 85)
}


 /*kereső mező*/
.navigation{
    margin:40px;
}

input{
  background: none;
  cursor: pointer;
  border: none;
  font-size: 20px;
  margin:3px
}

.input:focus, input:valid, textarea:valid {
    outline: none;
    background-color: none;
}

  .button {
    background-color: #005eb100;
    cursor: pointer;
    border: 0;
    margin: 3px;
  }

  ::placeholder{
    color: var(--main-text-color)
  }

/* napi időjárás rész*/

.mainInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city{
    margin:5px;
    font-size: 30px;
    font-weight: 80px;
    text-shadow: 3px 3px 10px #4a4a4a70;
}

.temperature{
    font-size: 50px;
    font-weight: 80px;
    text-shadow: 3px 3px 10px #4a4a4a70;
}

.sky{
    margin:10px;
    text-shadow: 3px 3px 10px #4a4a4a70; 
}

.maxMin{
    margin:10px;
    text-shadow: 3px 3px 10px #4a4a4a70; 
}

/* napi órás előrejelzés*/
.dayWeather{
    margin:30px;
    min-width: 300px;
    max-width: 500px;
}

.dayinfo{
    margin:10px;
}

.hourlyWeatherArea{
display: flex;
margin:5px;
display: flex;
align-items: center;
overflow-x: scroll;
}

.hourlyWeatherArea::-webkit-scrollbar{
    display: none;
}


.hourlyWeather{
display: flex;
flex-direction: column;
align-items: center;
font-size: 20px;
width: 60px;
padding: 5px;
height: 100px;
justify-content: space-between
}


.icon {
    max-height: 20px;
    width: 30px;
    margin:5px;
}


.row{
    font-size: 20px;
    transition: 0.2s;
    width: 22px;
}

.row:hover{
    font-size: 30px;
}

/*Következő napok időjárás adatai*/

.days  {
    margin:30px;
    min-width: 300px;
    max-width: 500px;
}

.days h4 {
    margin: 10px;
    font-size: 13px;
}

.days h4 span{
    font-size: 13px;
}

.day {
    display: flex;   
    align-items:center; 
    justify-content: space-between;
    margin: 10px;
    padding: 10px 0 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    border-top: 1px solid var(--main-text-color);
}

.day .nextDay{
    width: 60px;
}

.day .tempMinMax {
    display: flex;
    justify-content: space-between;
    width: 100px;

}
