*{
    background-image: url(./picture/pexels-gradienta-6985184\ \(1\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
    
}